.word-box
  {{current_word.translation}}
.means
  means:
.row
  .col-md-6{"ng-repeat" => "answer in answers track by $index"}
    %input{"type" => "radio", "id" => "answer{{$index+1}}", "name" => "ans", "ng-value" => "answer.id", "ng-model" => "$parent.selected_answer_id"}
    %label{"for" => "answer{{$index+1}}"}
      %span.kana{"ng-if" => "current_word.showKana"}<
        {{answer.kana}}
      %span.kanji{"ng-if" => "current_word.showKanji"}<
        {{answer.kanji}}
      %span.only-romaji{"ng-if" => "current_word.showOnlyRomaji"}
        {{answer.romaji}}
%button.btn.btn-primary.btn-lg{"ng-click" => "end_radio_question(current_word, selected_answer_id)"}
  Next